{% extends "navbar.html" %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'C:\Users\Admin\Desktop\django project\static\css\home.css' %}">

<div class="post-container">
    {% for elemento in post_list %}
        <a href="{% url 'detail' elemento.pk %}" class="post-link">
            <h1 class="post-title">{{ elemento.title }}</h1>
        </a>
        <br>
    {% empty %}
        <p class="empty-message">No has agregado elementos</p>
    {% endfor %}
</div>
{% endblock %}