{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Sitio{% endblock %}</title>
    <!-- Enlace al archivo CSS externo -->
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>
<body>
    <nav>
        <a href="/" class="nav-brand">
            <img src="{% static 'image/dmclogo.png' %}" alt="Logo" class="logo" height="50px" width="70px"> {# Logo de la marca #}
        </a>
        <div> {# Contenedor para los enlaces de navegación #}
            <a href="{% url 'create' %}">create</a>
            {% if user.is_authenticated %}
            <a href="/perfil/">perfil</a>
            {% else %}
            {% endif %}
        </div>
        {% if user.is_authenticated %}
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="logout">cerrar sesión</button>
        </form>
        {% endif %}
    </nav>

    {% block content %}

    {% endblock %}
</body>
</html>